/* .font .img{
    width:100px;
} */

/* .row{
    background: #000;
}
.row{
    background-color: brown;
}
.cooo{
    background: #000;
}
.col{
    background-color: blue;
} */
h1{
    padding-top: 40px;
    text-align: center;
    font-weight: bold;
}
.c{
    width: 100px;
    height: 200px;
}
.r{
    margin-top: 20px;
    margin-left: 500px;
    background-color:#7A3F14 ;
    color: white;
    border-color: white;
}