<div class="container-fluid" style=" margin-top: 2%;">
    <div class="row">
      <div class="col-ft" >
        <!-- <div>
          <p>hbknkmlkjnbvcxsdfgyhujikjhgbvcfghjkli;kjhgfxfghjukgfdf</p>
        </div> -->
        <!-- <img src="assets/mali/Mali.jpeg" alt="accim" style="width: 100%; height: 100%;">
      </div> -->
      <h1>BIENVENUE SUR L'APPLI MaliTourist</h1>
      <div id="carouselExampleControls"  style="padding-top: 15px;" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/mali/Badiangara.jpg" class="d-block w-100 c" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/mali/Mali.jpeg" class="d-block w-100 c" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/mali/kli.jpg" class="d-block w-100 c" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <div class="row" style="margin-top: 2%;">
      <div class="col" style=" text-align: center; padding: 6%;">
        Le Mali compte a son actif plusieurs regions a savoir : Kayes, Koulikoro, Sikasso, Ségou, Mopti,
         Tombouctou, Gao, Kidal, Taoudéni, Ménaka, Nioro, Kita, Dioïla, Nara, Bougouni, Koutiala, San, Douentza, 
         Bandiagara. Sans oublier le district de Bamako, où désormais 6 cercles, 6 arrondissements, 6 communes et 99 villages, fractions et quartiers.</div>
    </div>
    <div class="row">
      <div class="col-4" >
        <img src="assets/mali/kita.jpg" alt="">
      </div>
      <div class="col-4" >
        <img src="assets/mali/san.jpg" alt="">
      </div>
      <div class="col-4" >
        <img src="assets/mali/mop.jpg" alt="">
      </div>  

    </div>  
</div>

<div class="row">
  <div class="col-4" >
    <input type="button" class="r" value="Nouvelle region">
  </div>
  </div>
      