<br>
<br>
<h1>CONTACTEZ-NOUS</h1>
<br>
<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-12 col-md-6 card">
             
       <br>
       <a href=""><i class="bi bi-envelope-fill"></i></a> <h5>taoua1986@gmail.com</h5>
      <br>
       <a href=""><i class="bi bi-telephone-fill"></i></a> <h5>taoua1986@gmail.com</h5>
       <br>
       <a href=""><i class="bi bi-geo-alt-fill"></i></a> <h5>taoua1986@gmail.com</h5>
        </div>

        <div class="col-12 col-md-6 card">
            
            <div class="mb-3">
                <label for="inputEmail" class="form-label" >Adresse email</label>
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
            
            </div>

            <label for="input" class="form-label">Nom</label>
            <input type="name" class="form-control" id="input" aria-describedby="">
            <!-- <div id="emailHelp" class="form-text">votre nom svp</div> -->

            <label for="input" class="form-label">Numero</label>
            <input type="name" class="form-control" id="input" aria-describedby="">
            

           

            <label for="commentaire">Commentaire</label>
            <textarea class="form-control" placeholder="Laissez-nous un commentaire !" id="commentaire" style="height: 100px"></textarea>     
    </div>
</div>
<br>
 <input class="b" type="submit" name="valider"  value="Envoyer"/><br />