<div class="container ins col-12 offset-md-3 col-md-6">
    <div class="row mb-1">
        <h2 class="text-center mb-4">CREER VOTRE COMPTE</h2>
        <div class="col-12 col-md-12 card">
           
            <form>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="form-label">Nom</label>
                    <input type="name" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="form-label">Prenom</label>
                    <input type="name" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Votre mail</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
                <div class="form-group mb-3">
                    <label for="exampleInputPassword1">Mot de passe</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
                </div>
                <div class="form-group mb-3">
                    <label for="exampleInputPassword1">Confirmer le mot de passe</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
                </div>
                <!-- <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" class="btn bto mb-3">Créer</button>
            </form>
            