<br>
<br>
<br>
<h2>LES DIFFERENTES REGIONS DU MALI</h2>
<div class="container">
    <!-- <div class="py-5"> -->
        <div class="row mb-4">
            <div class="col-12 col-md-3 card">
                <div class="img-card">
                    <img class= "" src="assets/mali/k.jpg" alt="">
                </div>
                <h6 class="text-center">KAYES    <a href="/detail"><i class="bi bi-plus-circle"></i></a></h6>
            </div>
            <div class="col-12 col-md-3 card">
                <div class="img-card">
                    <img class= "mx-auto d-block" src="assets/mali/k.jpg" alt="">
                </div>
                <h6 class="text-center">KOULIKORO    <a href=""><i class="bi bi-plus-circle"></i></a></h6>
            </div>
            <div class="col-12 col-md-3 card">
                <div class="img-card">
                    <img class= "mx-auto d-block" src="assets/mali/k.jpg" alt="">
                </div>
                <h6 class="text-center">SIKASSO   <a href=""><i class="bi bi-plus-circle"></i></a></h6>
            </div>
            <div class="col-12 col-md-3 card">
                <div class="img-card">
                    <img class= "mx-auto d-block" src="assets/mali/k.jpg" alt="">
                </div>
                <h6 class="text-center">SEGOU <a href=""><i class="bi bi-plus-circle"></i></a></h6>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12 col-md-3 card">
                <div class="img-card">
                    <img class= "" src="assets/mali/k.jpg" alt="">
                </div>
                <h6 class="text-center">nom de la region <a href=""><i class="bi bi-plus-circle"></i></a></h6>
            </div>
            <div class="col-12 col-md-3 card">
                <div class="img-card">
                    <img class= "mx-auto d-block" src="assets/mali/k.jpg" alt="">
                </div>
                <h6 class="text-center">nom de la region <a href=""><i class="bi bi-plus-circle"></i></a></h6>
            </div>
            <div class="col-12 col-md-3 card">
                <div class="img-card">
                    <img class= "mx-auto d-block" src="assets/mali/k.jpg" alt="">
                </div>
                <h6 class="text-center">nom de la region <a href=""><i class="bi bi-plus-circle"></i></a></h6>
            </div>
            <div class="col-12 col-md-3 card">
                <div class="img-card">
                    <img class= "mx-auto d-block" src="assets/mali/k.jpg" alt="">
                </div>
                <h6 class="text-center">nom de la region <a href=""><i class="bi bi-plus-circle"></i></a></h6>
            </div>
        </div>

        
        <div class="row mb-4">
            <div class="col-12 col-md-3 card">
                <div class="img-card">
                    <img class= "" src="assets/mali/k.jpg" alt="">
                </div>
                <h6 class="text-center">nom de la region <a href=""><i class="bi bi-plus-circle"></i></a></h6>
            </div>


            <div class="col-12 col-md-3 card">
                <div class="img-card">
                    <img class= "mx-auto d-block" src="assets/mali/k.jpg" alt="">
                </div>
                <h6 class="text-center">nom de la region <a href=""><i class="bi bi-plus-circle"></i></a></h6>
            </div>


            <div class="col-12 col-md-3 card">
                <div class="img-card">
                    <img class= "mx-auto d-block" src="assets/mali/k.jpg" alt="">
                </div>
                <h6 class="text-center">nom de la region <a href=""><i class="bi bi-plus-circle"></i></a></h6>
            </div>


            <div class="col-12 col-md-3 card">
                <div class="img-card">
                    <img class= "mx-auto d-block" src="assets/mali/k.jpg" alt="">
                </div>
                <h6 class="text-center">nom de la region <a href=""><i class="bi bi-plus-circle"></i></a></h6>
            </div>
        </div>


        <div class="row mb-4">
            <div class="col-12 col-md-3 card">
                <div class="img-card">
                    <img class= "" src="assets/mali/k.jpg" alt="">
                </div>
                <h6 class="text-center">nom de la region <a href=""><i class="bi bi-plus-circle"></i></a></h6>
            </div>
            <div class="col-12 col-md-3 card">
                <div class="img-card">
                    <img class= "mx-auto d-block" src="assets/mali/k.jpg" alt="">
                </div>
                <h6 class="text-center">nom de la region <a href=""><i class="bi bi-plus-circle"></i></a></h6>
            </div>
            <div class="col-12 col-md-3 card">
                <div class="img-card">
                    <img class= "mx-auto d-block" src="assets/mali/k.jpg" alt="">
                </div>
                <h6 class="text-center">nom de la region <a href=""><i class="bi bi-plus-circle"></i></a></h6>
            </div>
            <div class="col-12 col-md-3 card">
                <div class="img-card">
                    <img class= "mx-auto d-block" src="assets/mali/k.jpg" alt="">
                </div>
                <h6 class="text-center">nom de la region <a href=""><i class="bi bi-plus-circle"></i></a></h6>
            </div>
        </div>
    <!-- </div> -->
    
</div>