<h2>Nom region </h2>
<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-12 col-md-6 card">
            <div class="img-card">
                <img class= "" src="assets/mali/k.jpg" alt="">
            </div>
               
        </div>
        <div class="col-12 col-md-6 card">
            <h5>Titre</h5> <br>
            <p>Sikasso est la seconde ville du Mali avec une population estimée à 425 000 habitants.
                 Elle se situe au sud du pays à proximité des frontières burkinabée et ivoirienne. 
                 La ville est le chef-lieu de la région et du cercle de Sikasso. La cité s'urbanise 
                 à la fin du XIXème siècle à l'apogée du 
                royaume Sénoufo de Kénédougou dirigé par la dynastie Traoré et 
                devient la capitale du royaume. Sikasso bénéficie d'un climat tropical de savane 
                favorable à l'agriculture qui fait d'elle un important marché agricole.</p>

               
        </div>
        
        <div class="row mb-3">
            <div class="col-12 col-md-4 card">
                <div class="img-card">
                    <img class= "" src="assets/mali/k.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-md-4 card">
                <div class="img-card">
                    <img class= "" src="assets/mali/k.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-md-4 card">
                <div class="img-card">
                    <img class= "" src="assets/mali/k.jpg" alt="">
                </div>
            </div>
            </div>
        </div>
</div>


<div class="row mb-3">
    <div class="col-12 col-md-4 card">
        <div class="img-card">
            <img class= "" src="assets/mali/k.jpg" alt="">
        </div>
    </div>
    <div class="col-12 col-md-4 card">
        <div class="img-card">
            <img class= "" src="assets/mali/k.jpg" alt="">
        </div>
    </div>
    <div class="col-12 col-md-4 card">
        <div class="img-card">
            <img class= "" src="assets/mali/k.jpg" alt="">
        </div>
    </div>
    </div>
    <!-- <div class="comment">
     <input type="text" name="Commentaire" style="margin-left: 300px;">
    </div> -->
    <div>
    <label for="commentaire">Commentaire</label>
    <textarea class="form-control" placeholder="Laissez-nous un commentaire !" id="commentaire" style="height:100px; width: -100px; margin-bottom: 100px;"></textarea> 
    <input class="bt" type="submit" name="valider"  value="Envoyer"/><br />
</div>

