<h3>Ajouter une nouvelle region</h3>
<br>

<form class="formul">
    <div class="mb-3">
      
    </div>
    <div >
        <label for="exampleInputPassword1" class="form-label">Code</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div >
        <label for="exampleInputPassword1" class="form-label">Nom</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div >
        <label for="exampleInputPassword1" class="form-label">Activite</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div >
        <label for="exampleInputPassword1" class="form-label">Superficie</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div >
        <label for="exampleInputPassword1" class="form-label">Pays</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div >
        <label for="image" class="form-label">Image</label>
        <input type="image" class="form-control" id="">
    </div>
    <!-- <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <div class="bit">
    <button type="submit" class="btn1" >Annuler</button> <button type="submit" class="btn" >ENREGISTRER </button></div>
  </form>
